/*Variables*/
/*Estilo de paginas*/
body {
  margin: 0%;
  padding: 0%; }

#grilla {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 17% 7% 68% 8%;
  grid-template-areas: "header" "nav" "section" "footer";
  grid-row-gap: 7px; }

/*HEADER*/
header {
  background-color: white;
  grid-area: header; }

.tituloHeader {
  color: goldenrod;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 10px; }

/*FIN DEL HEADER*/
/*NAV*/
nav {
  margin: 0%;
  padding: 0%;
  background-color: teal;
  grid-area: nav; }

#menu {
  height: 100%;
  margin: 0%;
  padding: 0%;
  list-style: none;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center; }
  #menu li {
    position: relative;
    background-color: teal; }
    #menu li a {
      color: white;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      transition: 1s; }
  #menu li a:hover {
    color: goldenrod;
    font-size: 22px; }
  #menu li:hover #listaDos {
    display: block;
    width: 200px;
    padding: 0; }

#listaDos {
  position: absolute;
  display: none; }
  #listaDos li {
    display: block;
    width: 100%; }

/*FIN DEL NAV*/
/*SECTIONS*/
section {
  background-image: url(../imagenes/FondoPlantas.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  grid-area: section;
  align-content: center;
  display: flex; }

.tituloSection {
  font-family: "Playfair Display", serif;
  color: goldenrod;
  text-align: left;
  padding-left: 10px; }

/*SECTION INDEX*/
#sectionIndex {
  flex-direction: row-reverse; }

#slogan {
  padding-right: 100px;
  padding-top: 150px;
  margin-right: 50px;
  height: 200px;
  width: 450px; }
  #slogan p {
    color: goldenrod;
    font-family: "Playfair Display", serif;
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
    text-align: center; }

/* FIN SECTION INDEX*/
/*SECTION QUIENES SOMOS*/
#nosotras {
  background-image: url(../imagenes/nosotrasUno.jpeg);
  height: 300px;
  width: 400px;
  background-size: 100%;
  margin-left: 200px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.842); }

#contenedorQuienes {
  display: block; }

#tituloQuienes {
  padding-left: 200px;
  font-size: 40px;
  width: 300px;
  height: 50px; }

#relato {
  padding-left: 250px;
  color: goldenrod;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  text-align: left;
  font-weight: lighter;
  width: 400px; }

/*FIN SECTION QUIENES SOMOS*/
/*SECTION CONTACTOS*/
ol, tr, #datos, #formulario {
  color: black;
  font-family: 'Montserrat', serif;
  font-weight: bold;
  font-size: 15px;
  text-align: left; }

#contenedorDatos, #contenedorForm {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  padding-left: 700px; }

#tituloContact {
  padding-right: 30px;
  padding-left: 35px;
  font-size: 40px; }

#datos {
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 10px; }

#comentario {
  padding-left: 100px;
  padding-right: 10px;
  padding-top: 90px; }

#formulario {
  padding-right: 100px; }

#contenedorBotones {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 100px;
  padding-top: 5px; }

label {
  padding-top: 3px; }

/*FIN SECTION CONTACTOS*/
/*SECTION PROPIEDADES*/
.cards_container {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .cards_container .card {
    background-color: rgba(255, 255, 255, 0.767);
    width: 250px;
    height: 365px;
    border-radius: 8px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.363);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s; }
  .cards_container .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.363); }
  .cards_container .card img {
    padding-top: 10px;
    width: 200px;
    height: 150px;
    border-radius: 8px; }
  .cards_container h4 {
    margin: 0%;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px; }
  .cards_container p {
    margin: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px; }

/*FIN SECTION PROPIEDADES*/
/*SECTION PRODUCTOS*/
#galeria {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 5px;
  display: grid;
  grid-template-columns: 18% 18% 18% 18%;
  grid-template-rows: 32% 32% 32%;
  grid-template-areas: "item1  item2  item3  item4 " "item1  item5  item6  item8 " "item7  item9 item10  item8";
  grid-row-gap: 5px;
  grid-column-gap: 7px;
  justify-content: center; }

.imagen_galeria {
  width: 96%;
  height: 96%; }

#item1 {
  grid-area: item1; }
  #item1 img {
    transition: 1s; }
  #item1 img:hover {
    height: 100%;
    width: 100%; }

#item2 {
  grid-area: item2; }
  #item2 img {
    transition: 1s; }
  #item2 img:hover {
    height: 100%;
    width: 100%; }

#item3 {
  grid-area: item3; }
  #item3 img {
    transition: 1s; }
  #item3 img:hover {
    height: 100%;
    width: 100%; }

#item4 {
  grid-area: item4; }
  #item4 img {
    transition: 1s; }
  #item4 img:hover {
    height: 100%;
    width: 100%; }

#item5 {
  grid-area: item5; }
  #item5 img {
    transition: 1s; }
  #item5 img:hover {
    height: 100%;
    width: 100%; }

#item6 {
  grid-area: item6; }
  #item6 img {
    transition: 1s; }
  #item6 img:hover {
    height: 100%;
    width: 100%; }

#item7 {
  grid-area: item7; }
  #item7 img {
    transition: 1s; }
  #item7 img:hover {
    height: 100%;
    width: 100%; }

#item8 {
  grid-area: item8; }
  #item8 img {
    transition: 1s; }
  #item8 img:hover {
    height: 100%;
    width: 100%; }

#item9 {
  grid-area: item9; }
  #item9 img {
    transition: 1s; }
  #item9 img:hover {
    height: 100%;
    width: 100%; }

#item10 {
  grid-area: item10; }
  #item10 img {
    transition: 1s; }
  #item10 img:hover {
    height: 100%;
    width: 100%; }

/*FIN SECTION PRODUCTOS*/
/*SECTION BUDINES Y ALFAJORES*/
.precios_container {
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center; }

.precios {
  background-color: rgba(128, 128, 128, 0.644);
  width: 220px;
  height: 270px;
  border-radius: 8px;
  box-shadow: 0 7px 7px rgba(0, 0, 0, 0.363);
  overflow: hidden;
  margin: 10px;
  text-align: center;
  margin-bottom: 50px; }
  .precios img {
    padding-top: 10px;
    width: 200px;
    height: 150px;
    border-radius: 8px; }
  .precios h5 {
    margin: 0%;
    margin-top: 10px;
    font-family: "Montserrat", sans-serif;
    font-size: 20px; }
  .precios p {
    margin: 5px;
    font-family: "Montserrat", sans-serif;
    font-size: 13px; }

.btn {
  display: block; }
  .btn button {
    background: seagreen;
    color: white;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 9px 8px;
    border-radius: 5px;
    cursor: pointer; }
  .btn button:hover {
    background: #236e44; }

/*FIN SECTION BUDINES Y ALFAJORES*/
/*FOOTER*/
footer {
  background: grey;
  grid-area: footer; }
  footer p {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-align: center; }

.cambiosBoot {
  padding-top: 12px; }

/*FIN DEL FOOTER*/
@media only screen and (max-width: 320px) {
  #grilla {
    grid-template-columns: 100%;
    grid-template-rows: 20% 35% 100% 10%; }
  #menu {
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 20% 20% 20%; }
  section {
    background-image: url(../imagenes/plantas.jpg); }
  #slogan {
    padding-right: 0%; }
    #slogan p {
      margin-left: 50px;
      background-color: rgba(214, 214, 214, 0.315);
      color: goldenrod;
      font-family: "Playfair Display", serif;
      font-size: 30px;
      text-align: center;
      font-weight: lighter;
      text-align: center; }
  /*SECTION PRODUCTOS*/
  #galeria {
    height: 60%;
    width: 100%;
    margin: 0%;
    padding: 0%;
    padding-top: 100px;
    display: grid;
    grid-template-columns: 35% 35%;
    grid-template-rows: 20% 20% 20% 20% 20% 20%;
    grid-template-areas: "item1  item2" "item1  item5" "item7  item9" "item3  item4" "item6  item8" "item10  item8";
    grid-row-gap: 7px;
    grid-column-gap: 7px;
    justify-content: center;
    align-content: center; }
  .imagen_galeria {
    width: 96%;
    height: 96%; }
  .cards_container {
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    grid-template-areas: "algarrobaProp  canelaProp"  "lucumaProp     cocoProp"; }
    .cards_container #algarrobaProp {
      grid-area: algarrobaProp; }
    .cards_container #canelaProp {
      grid-area: canelaProp; }
    .cards_container #lucumaProp {
      grid-area: lucumaProp; }
    .cards_container #cocoProp {
      grid-area: cocoProp; }
    .cards_container .card {
      margin: 0%;
      margin-top: 5px;
      margin-left: 5px;
      width: 150px;
      height: 225px;
      box-shadow: 0 7px 7px rgba(0, 0, 0, 0.363); }
    .cards_container .card:hover {
      box-shadow: 0 10px 14px rgba(0, 0, 0, 0.363); }
    .cards_container .card img {
      padding-top: 10px;
      width: 125px;
      height: 70px; }
    .cards_container h4 {
      margin-top: 2px;
      font-size: 15px; }
    .cards_container p {
      margin-top: 2px;
      font-size: 10px; }
  .precios_container {
    display: flex; }
  .precios {
    width: 140px;
    height: 162px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.363);
    text-align: center;
    margin-bottom: 10px; }
    .precios img {
      padding-top: 0%;
      width: 120px;
      height: 80px; }
    .precios h5 {
      margin-top: 0%;
      font-size: 15px; }
    .precios p {
      margin: 2px;
      font-size: 13px; }
  button {
    margin: 0%;
    font-size: 10px;
    padding: 9px 8px; }
  footer p {
    font-size: 13px; } }
