/*Variables*/
/*Estilo de paginas*/
body {
  margin: 0%;
  padding: 0%; }

#grilla {
  margin: 0%;
  padding: 0%;
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 17% 7% 68% 8%;
  grid-template-areas: "header" "nav" "section" "footer";
  grid-row-gap: 7px; }

/*HEADER*/
header {
  background-color: white;
  grid-area: header; }

.tituloHeader {
  color: goldenrod;
  font-family: "Playfair Display", serif;
  font-size: 60px;
  font-weight: lighter;
  text-align: center;
  padding-bottom: 10px; }

/*FIN DEL HEADER*/
/*NAV*/
nav {
  background-color: teal;
  grid-area: nav; }

#menu {
  height: 100%;
  margin: 0%;
  padding: 0%;
  list-style: none;
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center; }
  #menu li {
    position: relative;
    background-color: teal; }
    #menu li a {
      color: white;
      text-decoration: none;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      transition: 1s; }
  #menu li a:hover {
    color: goldenrod;
    font-size: 22px; }
  #menu li:hover #listaDos {
    display: block;
    width: 200px;
    padding: 0; }

#listaDos {
  position: absolute;
  display: none; }
  #listaDos li {
    display: block;
    width: 100%; }

/*FIN DEL NAV*/
/*SECTIONS*/
section {
  background-image: url(../imagenes/FondoPlantas.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  grid-area: section;
  align-content: center;
  display: flex; }

.tituloSection {
  font-family: "Playfair Display", serif;
  color: goldenrod;
  text-align: left;
  padding-left: 10px; }

/*SECTION INDEX*/
#sectionIndex {
  flex-direction: row-reverse; }

#slogan {
  padding-right: 100px;
  padding-top: 150px;
  margin-right: 50px;
  height: 200px;
  width: 450px; }
  #slogan p {
    color: goldenrod;
    font-family: "Playfair Display", serif;
    font-size: 50px;
    text-align: center;
    font-weight: lighter;
    text-align: center; }

/* FIN SECTION INDEX*/
/*SECTION QUIENES SOMOS*/
#nosotras {
  background-image: url(../imagenes/nosotrasUno.jpeg);
  height: 300px;
  width: 400px;
  background-size: 100%;
  margin-left: 200px;
  margin-top: 20px;
  border-radius: 10px; }

#contenedorQuienes {
  display: block; }

#tituloQuienes {
  padding-left: 200px;
  font-size: 40px;
  width: 300px;
  height: 50px; }

#relato {
  padding-left: 250px;
  color: goldenrod;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  text-align: left;
  font-weight: lighter;
  width: 400px; }

/*FIN SECTION QUIENES SOMOS*/
/*SECTION CONTACTOS*/
ol, tr, #datos, #formulario {
  color: black;
  font-family: 'Montserrat', serif;
  font-weight: bold;
  font-size: 15px;
  text-align: left; }

#contenedorDatos, #contenedorForm {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  padding-left: 700px; }

#tituloContact {
  padding-right: 30px;
  padding-left: 35px;
  font-size: 40px; }

#datos {
  padding-top: 20px;
  padding-right: 100px;
  padding-bottom: 10px; }

#comentario {
  padding-left: 100px;
  padding-right: 10px;
  padding-top: 90px; }

#formulario {
  padding-right: 100px; }

#contenedorBotones {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 100px;
  padding-top: 5px; }

label {
  padding-top: 3px; }

/*FIN SECTION CONTACTOS*/
/*SECTION PROPIEDADES*/
#titPropiedades, #titContactos {
  padding-top: 38px; }

#cards {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-evenly; }

#cardUno, #cardDos, #cardTres {
  background-color: rgba(128, 128, 128, 0.829);
  display: inline;
  padding: 20px;
  margin: 20px;
  margin-left: 40px; }

.cardP {
  color: white; }

/*FIN SECTION CONTACTOS*/
/*SECTION PRODUCTOS*/
#galeria {
  height: 100%;
  width: 100%;
  margin: 0%;
  padding: 5px;
  display: grid;
  grid-template-columns: 18% 18% 18% 18%;
  grid-template-rows: 32% 32% 32%;
  grid-template-areas: "item1  item2  item3  item4 " "item1  item5  item6  item8 " "item7  item9 item10  item8";
  grid-row-gap: 5px;
  grid-column-gap: 7px;
  justify-content: center; }

.imagen_galeria {
  width: 96%;
  height: 96%; }

#item1 {
  grid-area: item1; }
  #item1 img {
    transition: 1s; }
  #item1 img:hover {
    height: 100%;
    width: 100%; }

#item2 {
  grid-area: item2; }
  #item2 img {
    transition: 1s; }
  #item2 img:hover {
    height: 100%;
    width: 100%; }

#item3 {
  grid-area: item3; }
  #item3 img {
    transition: 1s; }
  #item3 img:hover {
    height: 100%;
    width: 100%; }

#item4 {
  grid-area: item4; }
  #item4 img {
    transition: 1s; }
  #item4 img:hover {
    height: 100%;
    width: 100%; }

#item5 {
  grid-area: item5; }
  #item5 img {
    transition: 1s; }
  #item5 img:hover {
    height: 100%;
    width: 100%; }

#item6 {
  grid-area: item6; }
  #item6 img {
    transition: 1s; }
  #item6 img:hover {
    height: 100%;
    width: 100%; }

#item7 {
  grid-area: item7; }
  #item7 img {
    transition: 1s; }
  #item7 img:hover {
    height: 100%;
    width: 100%; }

#item8 {
  grid-area: item8; }
  #item8 img {
    transition: 1s; }
  #item8 img:hover {
    height: 100%;
    width: 100%; }

#item9 {
  grid-area: item9; }
  #item9 img {
    transition: 1s; }
  #item9 img:hover {
    height: 100%;
    width: 100%; }

#item10 {
  grid-area: item10; }
  #item10 img {
    transition: 1s; }
  #item10 img:hover {
    height: 100%;
    width: 100%; }

/*FIN SECTION PRODUCTOS*/
/*SECTION BUDINES*/
#preciosBudines {
  display: flex;
  width: 100%;
  height: 75%;
  padding-top: 20px;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center; }

.precios {
  background-color: rgba(192, 192, 192, 0.842);
  border-radius: 7px;
  display: inline;
  padding: 7px; }
  .precios img {
    border-radius: 7px; }
  .precios h5, .precios p {
    font-family: "Montserrat", sans-serif;
    font-weight: bolder; }

/*FIN SECTION BUDINES*/
/*FOOTER*/
footer {
  background: grey;
  grid-area: footer; }
  footer p {
    color: black;
    font-family: "Montserrat", sans-serif;
    font-weight: bolder;
    text-align: center; }

.cambiosBoot {
  padding-top: 15px; }

/*FIN DEL FOOTER*/
