/*Variables*/
$colorTitulos: goldenrod ;
$fontTitulos: 'Playfair Display', serif;
$fontParrafos:'Montserrat', sans-serif;
$colorMenu: teal;
$colorFooter:grey;
$tamañoTitulos: 40px;

/*Estilo de paginas*/
body{
    margin: 0%;
    padding: 0%;
}
#grilla{
    margin: 0%;
    padding: 0%;
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 17% 7% 68% 8%;
    grid-template-areas: 
    "header"
    "nav"
    "section"
    "footer";
    grid-row-gap: 7px;
}

/*HEADER*/
header{
    background-color: white;
    grid-area: header;
    
}
.tituloHeader{
    color: $colorTitulos;
    font-family: $fontTitulos; 
    font-size: 60px;
    font-weight: lighter;
    text-align: center;
    padding-bottom: 10px;
    
}
/*FIN DEL HEADER*/

/*NAV*/
nav{
    background-color: $colorMenu;
    grid-area: nav;
}
#menu{
    height: 100%;
    margin: 0%;
    padding: 0%;
    list-style: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 100%;
    justify-items: center;
    align-items: center;
    
    li{
        position:relative;
        background-color: $colorMenu;
        
        a{
            color: white;
            text-decoration: none;
            font-family: $fontParrafos;
            font-size: 20px;
            transition: 1s;
        }
    }
    li a:hover{
        color:goldenrod;
        font-size: 22px;
        
    }
    
    li:hover #listaDos{
        display: block;
        width: 200px;
        padding: 0;
    }
}

#listaDos{
    position: absolute;
    display: none;
    
    li{
        display: block;
        width: 100%;
    }
}
/*FIN DEL NAV*/

/*SECTIONS*/
section{
    background-image: url(../imagenes/FondoPlantas.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    grid-area: section;
    align-content: center;
    display: flex;
}
.tituloSection {
    font-family: $fontTitulos;
    color: $colorTitulos;
    text-align: left;
    padding-left: 10px;
}
/*SECTION INDEX*/
#sectionIndex{
    flex-direction: row-reverse;
}

#slogan{
    padding-right: 100px;
    padding-top: 150px;
    margin-right: 50px;
    height: 200px;
    width: 450px;
    
    p{
        color: $colorTitulos;
        font-family: $fontTitulos;
        font-size: 50px;
        text-align: center;
        font-weight: lighter;
        text-align: center;
    }
}
/* FIN SECTION INDEX*/
/*SECTION QUIENES SOMOS*/
#nosotras{
    background-image: url(../imagenes/nosotrasUno.jpeg);
    height: 300px;
    width: 400px;
    background-size: 100%;
    margin-left: 200px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.842);
    
}



#contenedorQuienes{
    display: block;
}
#tituloQuienes{
    padding-left: 200px;
    font-size: $tamañoTitulos;
    width: 300px;
    height: 50px;
}

#relato{
    padding-left:250px;
    color: $colorTitulos;
    font-family: $fontTitulos;
    font-size: 20px;
    text-align: left;
    font-weight: lighter;
    width: 400px;
}


/*FIN SECTION QUIENES SOMOS*/

/*SECTION CONTACTOS*/
ol,tr, #datos,#formulario{
    color: black; 
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-size: 15px;
    text-align: left;
}
#contenedorDatos,#contenedorForm{
    display: flex;
    flex-direction: row;
    align-content:flex-end;
    padding-left: 700px;
    
}
#tituloContact{
    padding-right: 30px;
    padding-left: 35px;
    font-size: $tamañoTitulos;
}
#datos{
    padding-top: 20px;
    padding-right: 100px;
    padding-bottom: 10px;
}
#comentario{
    padding-left: 100px;
    padding-right: 10px;
    padding-top: 90px;
}
#formulario{
    padding-right: 100px;
}
#contenedorBotones{
    display: flex;
    flex-direction: row-reverse;
    padding-right: 100px;
    padding-top: 5px;
}
label{
    padding-top: 3px;
}
/*FIN SECTION CONTACTOS*/
/*SECTION PROPIEDADES*/
#tituBudines,#titContactos{
    padding-top: 39px;
}

.cards_container{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    .card{
        background-color: rgba(255, 255, 255, 0.767);
        width: 250px;
        height: 365px;
        border-radius: 8px;
        box-shadow: 0 7px 7px rgba(0, 0, 0, 0.363);
        overflow: hidden;
        margin: 20px;
        text-align: center;
        transition: all 0.25s;
    }
    
    .card:hover{
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.363);
    }
    
    .card img{
        padding-top: 10px;
        width: 200px;
        height: 150px;
        border-radius: 8px;
    }
    
    h4{
        margin: 0%;
        margin-top: 10px;
        font-family: $fontParrafos;
        font-size: 20px;
    }
    p{
        margin: 5px;
        font-family: $fontParrafos;
        font-size: 13px;
    }
}



/*FIN SECTION CONTACTOS*/
/*SECTION PRODUCTOS*/
#galeria{
    height: 100%;
    width: 100%;
    margin: 0%;
    padding: 5px;
    display: grid;
    grid-template-columns: 18% 18% 18% 18%;
    grid-template-rows: 32% 32% 32% ;
    grid-template-areas: 
    "item1  item2  item3  item4 "
    "item1  item5  item6  item8 "
    "item7  item9 item10  item8"
    ;
    grid-row-gap: 5px;
    grid-column-gap: 7px;
    justify-content: center;
}
.imagen_galeria{
    width: 96%;
    height: 96%;
}
#item1{
    grid-area: item1;
    img{
        transition: 1s;
    }
    
    img:hover{
        height: 100%;
        width: 100%;
    }
}
#item2{
    grid-area: item2;
    
    img{
        transition: 1s;
    }
    
    img:hover{
        height: 100%;
        width: 100%;
    }
    
}

#item3{
    grid-area: item3;
    
    img{
        transition: 1s;
    }
    
    img:hover{
        height: 100%;
        width: 100%;
    }
}

#item4{
    grid-area: item4;
    
    img{
        transition: 1s;
    }
    
    img:hover{
        height: 100%;
        width: 100%;
    }
}

#item5{
    grid-area: item5;
    
    img{
        transition: 1s;
    }
    
    img:hover{
        height: 100%;
        width: 100%;
    }
}
#item6{
    grid-area: item6;
    
    img{
        transition: 1s;
    }
    
    img:hover{
        height: 100%;
        width: 100%;
    }
}

#item7{
    grid-area: item7;
    
    img{
        transition: 1s;
    }
    
    img:hover{
        height: 100%;
        width: 100%;
    }
}

#item8{
    grid-area: item8;
    
    img{
        transition: 1s;
    }
    
    img:hover{
        height: 100%;
        width: 100%;
    }
}

#item9{
    grid-area: item9;
    
    img{
        transition: 1s;
    }
    
    img:hover{
        height: 100%;
        width: 100%;
    }
}

#item10{
    grid-area: item10;
    
    img{
        transition: 1s;
    }
    
    img:hover{
        height: 100%;
        width: 100%;
    }
}

/*FIN SECTION PRODUCTOS*/
/*SECTION BUDINES*/

.precios_container{
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.precios{
    background-color: rgba(128, 128, 128, 0.644);
    width: 220px;
    height: 270px;
    border-radius: 8px;
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.363);
    overflow: hidden;
    margin: 10px;
    text-align: center;
    margin-bottom: 50px;
    
    img{
        padding-top: 10px;
        width: 200px;
        height: 150px;
        border-radius: 8px;
    }
    
    h5{
        margin: 0%;
        margin-top: 10px;
        font-family: $fontParrafos;
        font-size: 20px;
    }
    p{
        margin: 5px;
        font-family: $fontParrafos;
        font-size: 13px;
    }
    
}



/*
#preciosBudines{
    display: flex;
    width: 100%;
    height: 75%;
    padding-top: 20px;
    flex-direction: row;
    justify-content:space-evenly;
    align-content: center;
    
}

.precios{
    background-color: rgba(192, 192, 192, 0.842);
    border-radius: 7px;
    display: inline;
    padding: 7px;
    
    img{
        border-radius: 7px;
    }
    h5,p{
        font-family: $fontParrafos;
        font-weight: bolder;
    }
    
}
*/


/*FIN SECTION BUDINES*/
/*FOOTER*/
footer{
    background:$colorFooter;
    grid-area: footer;
    p{
        color:black;
        font-family: $fontParrafos;
        font-weight: bolder;
        text-align: center;
    }
}

.cambiosBoot{
    padding-top: 15px;
}
/*FIN DEL FOOTER*/